{% load static %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.css"/>

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/> -->

<!-- <link href="{% static 'user/assets' %}/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
<link href="{% static 'user/assets' %}/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" /> -->