<div class="col-4 mb-3">
    <div class="card">
      <img src="{{Employee.get_cover}}" alt="Cover" class="card-img-top" 
      style="height: 120px; width: auto; object-fit: cover;">
      <div class="card-body text-center">
        <img src="{{Employee.get_profile_pic}}" style="width:100px;margin-top:-65px" alt="Employee" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
        <h5 class="card-title">{{Employee.username}}</h5>
        <p class="text-secondary mb-1">{{Employee.department}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-light btn-sm bg-white has-icon btn-block href-btn" 
        data-href="{% url 'view-user' Employee.slug %}"
        type="button">View Details</button>
      </div>
    </div>
</div>